<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: linear-gradient(to right, #000000, #03345a, #373434);
        }
    </style>
</head>

<body>
    <%- include ("navbar") %>
</body>

</html> -->