<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sri Lanka</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    body {
        background: linear-gradient(to right, #000000, #03345a, #373434);
    }

    .initial {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <%- include('navbar') %>
        <div class="initial">
            <h1 style="color: wheat;">Coming Soon Sri Lanka</h1>
        </div>
</body>

</html>